# exclude generated results
tsv_extracted_from_wikidata/*
merge_KB/output/
tmp_extracted_data/
.master_ip_addresses.cfg

# exclude python cache
__pycache__/

# exclude generated output, log and other files
*.log
*.names
*.subclass_list
*.tc
*.tsv

